{% extends "base.html.twig" %}

{% block body %}
    <div class="wrapper__body__content">
        <div class="home">
            <div class="home__device-card">
                <span class="home__device-card__title">SBTS</span>
                <a href="{{ path('main_sbts') }}" class="mdc-button mdc-button--home">View devices</a>
            </div>
            <div class="home__device-card">
                <span class="home__device-card__title">BSC</span>
                <a class="mdc-button mdc-button--home">View devices</a>
            </div>
        </div>
    </div>
{% endblock %}