.sbts-data {
  display: none;
  flex-direction: column;
  padding: 20px;

  &--active {
    display: flex;
  }

  &__row {
    margin: 10px 10px 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;

    &__title {
      padding: 10px;
      margin-right: 10px;
      font-size: 25px;
    }

    &__data {
      padding: 10px;
      margin-left: 50px;
    }
  }
}