@import "../include/vars";

.sbts {
  width: 100%;

  &__filter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__column {
      width: 275px;
      display: none;
      flex-direction: column;
      padding: 10px;

      &--active{
        display: flex;
      }

      &__row{
        width: 100%;
        padding: 5px;
        > * {
          width: 100%;
        }
      }
    }

    &__submit {
      width: 100%;
      padding: 10px;
    }
  }

  &__table {
    width: 100%;
    font-size: 28px;
    color: $primary-color;
    border-collapse: collapse;

    &__header {
      border-bottom: 2px solid $basic-background;

      &__row {
        &__column {
          padding: 20px 10px;
          font-weight: normal;
        }
      }
    }

    &__body {
      &__row {
        &__column {
          text-align: center;
          padding: 20px 10px;

          &__id {
            display: flex;
            align-items: center;
            justify-content: center;

            &__icon {
              font-size: inherit;
              padding-left: 10px;
            }

            &:hover i {
              color: $secondary-color;
            }
          }
        }

        &:hover {
          background-color: $background-color;
        }
      }
    }
  }
}

