@import "vars";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Roboto-Regular', sans-serif;
  color: $primary-color;
}

.wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;

  &__navbar {
    box-shadow: $box-shadow;
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    &__logo {
      display: flex;
      justify-content: center;
      min-height: 100%;
      width: 250px;

      &__link {
        font-size: 65px;
        color: $nokia-color;
        letter-spacing: 1.5px;
      }
    }

    &__utils {
      margin-right: 45px;
      display: flex;
      align-items: center;

      &__body {
        position: relative;
        height: 100%;
        margin-right: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &__link {
          color: $primary-color;
          font-size: 20px;
          display: flex;
          justify-content: center;
          padding-bottom: 10px;
        }

        &__dropdown {
          box-sizing: border-box;
          box-shadow: $box-shadow;
          background-color: white;
          border-bottom-left-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
          position: absolute;
          top: 80px;
          width: 100%;
          display: flex;
          flex-direction: column;
          height: 0;
          overflow: hidden;

          &__link {
            padding: $padding 20px;
            font-size: 20px;

            &:first-child {
              margin-top: 15px;
            }

            &:hover {
              color: white;
              background-color: $secondary-color;
            }
          }
        }

        &__bar {
          border: 5px solid transparent;
        }

        &:hover {
          .wrapper__navbar__utils__body__bar {
            border: 5px solid $secondary-color;
          }

          .wrapper__navbar__utils__body__dropdown {
            height: auto;
          }
        }
      }
    }
  }


  &__body {
    width: 100%;
    display: flex;
    flex-grow: 1;
    background-color: $background-color;

    &__menu {
      box-shadow: $box-shadow;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      min-height: 100%;
      background-color: $primary-color;
      width: 250px;
      z-index: 1;
      flex-shrink: 0;

      &__option {
        font-size: 25px;
        padding: 30px;
        color: white;
        text-align: center;

        &--active, &:hover {
          background-color: $secondary-color;
        }

        &:first-child {
          margin-top: 90px;
        }
      }
    }

    &__content {
      min-height: 100%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      &__box {
        box-shadow: $box-shadow;
        background-color: white;
        margin: 70px;
        border-radius: $border-radius;
        height: 100%;

        &--login {
          width: 300px;
          height: auto;
          align-self: center;
          padding: $padding;
        }

        &--device-detail {
          margin-top: 0;
        }
      }
    }
  }
}

