<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SRAN{% endblock %}</title>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link href="/css/admin.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="wrapper__navbar">
        {% block navbar %}
            <div class="wrapper__navbar__logo">
                <a class="wrapper__navbar__logo__link" href="#">SRAN</a>
            </div>
            <div class="wrapper__navbar__utils">
                <a class="wrapper__navbar__utils__link" href="#"><i class="material-icons">help_outline</i>Guide</a>
                <a class="wrapper__navbar__utils__link" href="#"><i class="material-icons">account_circle</i>Login</a>
            </div>
        {% endblock %}
    </div>
    <div class="wrapper__body">
        <div class="wrapper__body__menu">
            {% block menu %}
                    <a class="wrapper__body__menu__option" href="#">Default time</a>
                    <a class="wrapper__body__menu__option" href="#">Add device</a>
                    <a class="wrapper__body__menu__option" href="#">Manage users</a>
            {% endblock %}
        </div>
        <div class="wrapper__body__content">
            <div class="wrapper__body__content__box">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
