{% extends "base.html.twig" %}

{% form_theme form "form/form.html.twig" %}

{% block body %}
    <div class="wrapper__body__content">
        <div class="wrapper__body__content__box  wrapper__body__content__box--login">
            <div class="login">
                <h1 class="login__header">Login</h1>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}