@import "../_vars";
@import "../messages";

.deploy-list{
  display: flex;
  flex-direction: column;
  width: 100%;

  &__option{
    display: flex;
    flex-direction: column;
    @extend %message;
    @extend %basic;

    &__label{
      display: flex;
      align-items: center;
      font-size: 1.1rem;

      &__input{
        margin: $margin;
        width: 1.1rem;
        height: 1.1rem;
      }
    }

  }

  &__submit{
    @extend %message;
    @extend %info;
    align-self: center;
    cursor: pointer;
    min-width: 100px;
    max-width: 200px;
    width: 25%;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border: $border transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
}