@import "../../include/vars";

.deploy-result {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    color: $info-color;
    background-color: $info-background;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    padding: $padding;
    margin: $margin;
    text-align: center;
  }

  &__option {
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    margin: $margin;

    &__status {
      padding: $padding;

      &--success {
        color: $success-color;
        background-color: $success-background;
      }

      &--fail {
        color: $fail-color;
        background-color: $fail-background;
      }
    }

    &__output {
      color: $basic-color;
      background-color: $basic-background;
      display: block;
      white-space: pre;
      padding: $padding;
    }

  }

  &__submit {
    cursor: pointer;
    width: 200px;
    align-self: center;
    margin: $margin;
    color: $fail-color;
    background-color: $fail-background;
  }
}