@import "../include/vars";

.login {
  display: flex;
  flex-direction: column;
  margin: $margin;

  &__form {
    margin-top: $margin;
    display: block;

    .mdc-text-field {
      width: 100%;
    }
  }

  &__header {
    text-align: center;
    margin: 0;
  }
}