@import "vars";

%success{
  color: #155724;
  background-color: #d4edda;
  border: $border #c3e6cb;
}

%fail{
  color: #721c24;
  background-color: #f8d7da;
  border: $border #f5c6cb;
}

%info{
  color: #0c5460;
  background-color: #d1ecf1;
  border: $border #bee5eb;
}

%basic{
  color: #383d41;
  background-color: #e2e3e5;
  border: $border #d6d8db;
}

%message{
  margin: $margin;
  border-radius: $border-radius;
  padding: $padding;
}

.message{
  @extend %message;

  &--sucess{
    @extend %success;
  }

  &--faild{
    @extend %fail;
  }

  &--info{
    @extend %info;
  }

  &--basic{
    @extend %basic;
  }
}